
body{
	
	background-color:#666666;
	width:1024px;
height:1028px;
border:2px solid #000;
margin:0 auto;
padding:0;
text-align:center;
	
}

.images img{
	position:relative;
  float:left;
    height: 180px;
    width: 200px;
		padding:10px;
		margin-left:15px;
		border:1px solid #FFF;
}


.buttons button{
	width:100px;
	height:50px;

}

.navigation ul {
	 height:40px;
	 width:1000px;
	 background-color:#666666;
	 list-style-type: none;
	 border-radius: 15px;
	padding:10px;
	
	 
	
}


	nav ul li{
	margin:0px;
	padding-top:3px;;
	float:none;
	list-style-type: none;
	display:inline-block;
	font-size:15px;

}
nav a,
nav a:link,
nav a:visited {
	display: block;
	padding: 0.5em 0.75em;
	
	color: #FFF;
	font-size: 1.25em;
	text-decoration:none;
	text-transform: uppercase;
	
	
	 color: white ;
  background-color: transparent ;
}
nav a:hover{
	color: black ;
  background-color: #09F ;

	
}



.images{
height:200px;
width:100px;


} 
.footer{
	height:100px;
	width:500x;
	background-color:#666666;
	border-radius: 15px;
	margin-top:70px;
	
	
	 
}
.footerhome{
	color:#FFF;
	font-size:13px;
	margin-left:-800px;

	

	
}

li{
list-style-type: none;

}
.footerlists{
		color:#FFF;
	font-size:13px;
	margin-left:-100px;
	margin-top: -90px;

}
.footerrecipies{
	color:#FFF;
	font-size:13px;
	margin-left:750px;
	margin-top: -150px;

}


.logo{

background-color:#fff;


	
}
.main{
	float:left;
	margin-left:80px;
	color:#fff;
	margin-top:-415px;


}
	.img{
		background-color:#000;
		width:900x;
		height:860px;
		margin-left:0px;
		margin-top:0;
	}
	.sidebar{
	margin-left:700px;
	color:fff;
	margin-top:-717px;
	
	}
	.sidebar ol li{
		color:#fff;
	}
	.maincontent {
		height:750px;
		width:300px;
		background-color:#09F;
	color:#FFFFFF;
		margin-left:400px;
padding-left:500px;
		/*text-align:center;*/
	
		border:2px solid #000;
		 border-radius: 15px;
		 float:left;
		
	}
	
	.maincontentrecipies ol li{
	
		color:#fff;
	}
	
	.maincontentrecipies p{
	
		color:#fff;
	}
	.maincontentrecipies{
		padding-left:30px;
		margin-top:200px;
		
		
	}
	.imagesnewone img{
		height:200px;
		width:300px;
		margin-left:135px;
		float:left;
		border:2px solid #FFF;	

		
	
		
	}
	
	
	.maincontent h1,
	.maincontent strong{
		text-align:center;
	}
	

	.addrecipie{
		
	}
	.addrecipie form{
		margin-left:100px;
		
	}
	
	.addrecipie label {
		
		padding:0 100px;
	}
	.table{
		
		margin-left:100px;
		width:300px;
		padding:0px;
	
	}
	.table2{
		width:300px;
		padding:0px;
		margin-left:300px;
		margin-top:-450px;
	}
	.table tr th{
		color:#fff;
		text-align:left;
		
	}
	.table tr td{
		color:#fff;
		text-align:left;
	}
	td{
		padding:5px;
		
	}
	.cake img{
		height:400px;
		width:400px;
		border:2px solid #000000;
	}
	.butt button{
		 border-radius: 15px;
		 height:50px;
		 width:100px;
		 color:#000;
		
		
		 
	}
	
	
	.butt button:hover{
     background: #383;
}


form label input{
	width: 300px;
	height:700px;
	margin-top:220px;
		margin-left:50px;
		padding-top: 70px;
}
form label{
	color:#fff;
	
}

.splbtn button{
border-radius: 15px;
		 height:60px;
		 width:100px;
	margin-left:465px;
	float:none;
	display:inline-block;
  margin:0px;
	padding:0 px auto;

}
h1{
	color:#fff;
}
.reclabel{
	color:#fff;
}
.addrecipie p{
	color:#fff;
	width:800px;
	text-align:center;
	margin-left:90px;
}
.contactfooterlists{
margin-left:-100px;
	margin-top: -90px;
}
.imagessplash img{
height:300px;
width:250px;
border:3px #666;
padding:5px;
border:2px solid #FFF;	

}


