
body{
	
	background-color:#FFF;
	width:2480px;
height:1000px;
	
}

.images img{
	position:relative;
  float:left;
    height: 300px;
    width: 300px;
		padding:45px;
}


.buttons button{
	width:100px;
	height:50px;

	
	
	margin-left:100px;
}

.navigation ul {
	 height:50px;
	 width:2480px;
	 background-color:#666666;
	 list-style-type: none;
	 border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	
	 
	
}


	nav ul li{
	margin: 0;
	padding-top:5px;;
	float:none;
	list-style-type: none;
	display:inline-block;
	font-size:15px;
	padding-left:350px;
}
nav a,
nav a:link,
nav a:visited {
	display: block;
	padding: 0.5em 0.75em;
	
	color: #FFF;
	font-size: 1.25em;
	text-decoration:none;
	text-transform: uppercase;
	
	
	 color: white ;
  background-color: transparent ;
}
nav a:hover{
	color: black ;
  background-color: #09F ;

	
}



.images{
height:100px;
width:100px;


} 
.footer{
	height:130px;
	width:2520px;
	background-color:#666666;
	 border-radius: 15px;
	 overflow: hidden;
	 margin-top: 800px;
	 box-shadow: 10px 10px 5px #888888;
}
.footerhome{
	color:#FFF;
	font-size:13px;
	margin-left:500px;
	float: left;

	
}

li{
list-style-type: none;

}
.footerlists{
		color:#FFF;
	font-size:13px;
	margin-left:1150px;
	padding-top: 2px;
}
.footerrecipies{
	color:#FFF;
	font-size:13px;
	margin-left:1800px;
	margin-top: -110px;
}
.logo{
margin-left:950px;


	
}
.main{
	margin-left:1200px;
	position: absolute;
	margin-top: 15px;

}
	.img{
		background-color:#03F;
		width:900px;
		height:900px;
		margin-left:500px;
	}
	.sidebar{
	margin-left:1800px;
	width: 300px;
	padding-top: 15px;
	position: absolute;
	}
	.maincontent {
		height:750px;
		width:300px;
		background-color:#09F;
	color:#FFFFFF;
		margin-left:700px;
padding-left:500px;
		/*text-align:center;*/
	
		border:2px solid #000;
		 border-radius: 15px;
		 float:left;
		
	}
	.maincontent h1,
	.maincontent strong{
		text-align:center;
	}
	
	.maincontentrecipies{
		height:750px;
		width:300px;
		background-color:#09F;
		padding-left:500px;
		margin-left:700px;
	
		color:#FFFFFF;
		position:absolute;
		border:2px solid #000;
		 border-radius: 15px;
	}
	.addrecipie{
		height:1200px;
		width:700px;
		padding:50px;
		margin-left:700px;
		margin-top:200px;
		background-color:#09F;
		border:2px solid #000;
		 border-radius: 15px;
		 color:#FFFFFF;
		 text-align:center;
	}
	.addrecipie form{
		margin-left:100px;
		
	}
	
	.addrecipie label {
		
		padding:100px;
	}
	.table{
		
		margin-left:800px;
		width:500px;
		padding:50px;
	
	}
	td{
		padding:20px;
		
	}
	.cake img{
		height:600px;
		width:500px;
		border:2px solid #000000;
	}
	.butt button{
		 border-radius: 15px;
		 height:50px;
		 width:100px;
		 color:#000;
		 margin:20px;
	}
	.butt button:hover{
     background: #383;
}


form label input{
	width: 300px;
	height:700px;
	margin-top:220px;
		margin-left:50px;
		padding-top: 70px;
}





